extends layout

block content
	.row
		.col-xs-12
			h2.head1 Profile

	.row
		.col-xs-12
			if success_messages && success_messages.length > 0
				.alert.alert-success.alert-dismissible.fade-in(role="alert")
					button.close(type="button" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") ×
					| #{success_messages}
			if error_messages && error_messages.length > 0
				.alert.alert-danger.alert-dismissible.fade-in(role="alert")
					button.close(type="button" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") ×
					| #{error_messages}

	.row
		.col-xs-12.text-center.margin-bottom
			if user.avatar
				img#userImage.img-thumbnail(src="/public/images/uploads/profile/#{user.avatar}", width="200px")
			else
				img#userImage.img-thumbnail(src="/public/images/no-photo.png", width="200px")
	.row
		-var userName = user.name || ''
		-var userUsername = user.local.username || ''
		-var userCity = user.city || ''
		-var userAddress = user.address || ''

		form#formUpdateProfile.form-horizontal(name="updateprofile", method="post", action="/updateprofile")
			.row					
				.col-sm-6
					.form-group.required
						label.col-sm-2.control-label(for='username') Username
						.col-sm-10
							input.form-control#username(type="text", placeholder='Username', value="#{userUsername}", name="username", required)
					.form-group
						label.col-sm-2.control-label(for='name') Name
						.col-sm-10
							input.form-control#name(type="text", placeholder='Name', value="#{userName}", name="name")
					
				.col-sm-6
					.form-group
						label.col-sm-2.control-label(for='city') Adresse
						.col-sm-10
							.row
								.col-xs-6
									input.form-control#city(type="text", placeholder='Stadt', value="#{userCity}", name="city")
								.col-xs-6
									input.form-control#address(type="text", placeholder='Adresse', value="#{userAddress}", name="address")
			.row
				.col-sm-6

					.form-group
						label.col-sm-2.control-label(for="avatar") Userbild
						.col-sm-10
							.input-group
								input.form-control#avatar(type="file", multiple, name="avatar")
								span.input-group-btn
									.btn.btn-default#uploadImageBtn Hochladen

			.row
				.form-group
					.col-sm-offset-2.col-sm-10
						button.btn.btn-primary.btn-lg.pull-right#btnSubmit(type="submit") Speichern



	.row.margin-top
		.col-sm-6
			.well
				h3
					span.fa.fa-user
					|  Local
				if user.local.email
					p
						strong E-Mail
						| : #{user.local.email}
					a.btn.btn-default(href="/unlink/local") Unlink
				else
					a.btn.btn-default(href="/connect/local") Local verbinden

		.col-sm-6
			.well
				h3
					span.fa.fa-facebook
					|  Facebook
				if user.facebook.token
					p
						strong E-Mail
						| : #{user.facebook.email}
						br
						strong Name
						| : #{user.facebook.name}
					a.btn.btn-default(href="/unlink/facebook") Unlink
				else
					a.btn.btn-default(href="/connect/facebook") Facebook verbinden


	.row
		.col-sm-6
			.well
				h3
					span.fa.fa-twitter
					|  Twitter
				if user.twitter.token
					p
						strong Username
						| : #{user.twitter.username}
					a.btn.btn-default(href="/unlink/twitter") Unlink
				else
					a.btn.btn-default(href="/connect/twitter") Twitter verbinden

		.col-sm-6
			.well
				h3
					span.fa.fa-google-plus
					|  Google
				if user.google.token
					p
						strong E-Mail
						| : #{user.google.email}
						br
						strong Name
						| : #{user.google.name}
					a.btn.btn-default(href="/unlink/google") Unlink
				else
					a.btn.btn-default(href="/connect/google") Google verbinden


